/* ==========================================================================
   Layout
   ========================================================================== */
   
   @media only screen {

      body {
         background:transparent url(../img/bg-body.jpg) repeat;
         font-family: 'VolkswagenRegular';
         font-size:16px;
         overflow: hidden;
      }

      /* Header
         ========================================================================== */
         header {
            position: absolute;
            right: 0;
            top: 0;
            padding: 10px;
         }
     
      /* Frase
         ========================================================================== */
         #about {
            width: 70%;
            margin: 0 auto;
            padding-top: 85px;
         }

         .description {
            color: #fff;
            margin: 0 0 20px 0;
            font-family: 'VolkswagenBold';
            color: #c5c5c5;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1px;
            text-shadow: 2px 2px 3px #000000;
            filter: dropshadow(color=#000000, offx=2, offy=2);
         }

         .big,
         .medium { color:#fff; }
         .big { font-size:42px; }
         .medium { font-size:36px; }

      /* Boxes
         ========================================================================== */
         .box,
         .box * { @include transition(all, 0.2s, ease); }

         .box {
            position: absolute;
            bottom: 0;
            min-width: 300px;
            height: 150px;
            padding: 80px 10px 10px 10px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.2);
         }

         .on .box { background-color: rgba(0, 0, 0, 0.5); }

         /* Ajustes IE7/8 */
         .ie7 .box,
         .ie8 .box { background:transparent url(../img/bg-box.png) repeat; }
         /**/

         #works { 
            //left: 0;
            border-radius: 0 10px 0 0;
         }

         #contact {
            right:0;
            border-radius: 10px 0 0 0;
         }

         .hold-title {
            position: absolute;
            left:20px;
            top:15px;
         }

         .title { font-size:26px; }

         .phrase {
            font-style:italic;
            font-size:14px;
            color:#666;
         }

         .title,
         .phrase { display: block; }

         .icon {
            position: absolute;
            @include scale(0.55, 0.55);
            @include opacity(0, 0);
         }

         #works .icon {
            right:20px;
            top:10px;
         }

         #contact .icon {
            bottom:0;
            left:0;
         }

      /* Redes sociais
         ========================================================================== */
         .social-networks {
            overflow: hidden;
            padding:10px 0 10px 10px;
         }

         .social-networks li {
            float:left;
            margin-right:10px;
         }

      /* Transicao box
         ========================================================================== */

         .box:hover .title {
            font-size:18px;
            color:#666;
            margin-top:4px;
         }

         .box:hover .phrase {
            font-size:22px;
            color:#10b1b2;
         }

         .box:hover .icon {
            @include scale(1, 1);
            @include opacity(1, 100);
         }

         #contact.box:hover .icon {
            bottom:80%;
            left:70%;
         }

         .box .icon { @include transition(all, 0.5s, ease); }
      
      /* Botao
         ========================================================================== */

         .button {
            position: absolute;
            bottom:50px;
            left:42%;
         }

         .btn {      
            display: inline-block;
            outline:none;
            border-radius:8px;
            box-shadow:
            0 8px 0 #284242,
            0 15px 20px rgba(0,0,0,.35);

            -webkit-transition: -webkit-box-shadow .2s ease-in-out;
               -moz-transition: -moz-box-shadow .2s ease-in-out;
                 -o-transition: -o-box-shadow .2s ease-in-out;
                  transition: box-shadow .2s ease-in-out;
         }

         .btn:hover {
            box-shadow:
             0 8px 0 #284242,
             0 15px 20px rgba(0,0,0,.65);
         }

         .btn span { 
            display: inline-block;
            padding: 10px 0;
            width: 190px;
            line-height: 1;
            color:#fff;
            text-align: center;
            text-shadow: 0 -1px 1px rgba(19,65,88,.8);
            @include border-radius(8px);
            box-shadow: inset 0 -1px 1px rgba(255,255,255,.15);
            background: #558c8c; 
            background: -moz-linear-gradient(top,  #558c8c 0%, #416b6b 100%); 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#558c8c), color-stop(100%,#416b6b)); 
            background: -webkit-linear-gradient(top,  #558c8c 0%,#416b6b 100%);
            background: -o-linear-gradient(top,  #558c8c 0%,#416b6b 100%); 
            background: -ms-linear-gradient(top,  #558c8c 0%,#416b6b 100%); 
            background: linear-gradient(to bottom,  #558c8c 0%,#416b6b 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#558c8c', endColorstr='#416b6b',GradientType=0 ); 
            
            @include transition (all, 0.2s, ease-in-out);
            /*-webkit-transition: -webkit-transform .2s ease-in-out;
               -moz-transition: -moz-transform .2s ease-in-out;
                -o-transition: -o-transform .2s ease-in-out;
                  transition: transform .2s ease-in-out;*/
         }

         .btn:active,
         .btn.active {  
            box-shadow:  0 8px 0 #10b1b2, 0 12px 10px rgba(0,0,0,.3);
         }
         .btn:active span,
         .btn.active span {   
            -webkit-transform: translate(0, 4px);
               -moz-transform: translate(0, 4px);
                -o-transform: translate(0, 4px);
                  transform: translate(0, 4px);
         }

      
      /* Cidade
         ========================================================================== */
         .overlay { z-index:1; }

         .city {
            background:transparent url(../img/city.jpg) no-repeat left top;
            position:absolute;
            top:0;
            z-index:-3;
            width:100%;
            height:100%;
            @include opacity(0, 0);
         }

      /* Alerta
         ========================================================================== */
         .alert {
            position:absolute;
            top:10px;
            width: 700px;
            left: 50%;
            margin-left: -370px;
            border: 1px solid #FFD324;
            padding: 5px 15px 5px 25px;
            text-align: center;
            background: #FFF6BF url(../img/alert.png) 5px center no-repeat;
         }

         .alert p {
            margin: 0 0 0 15px;
            float: left;
            color: #514721;
            font-size: 13px;
            line-height: 22px;
         }

         a.close {
            float:right;
            margin:3px 0 0 15px;
            color:#bf9c11;
            font-weight:bold;
            font-size:12px;
            cursor: pointer;
         }

         a.close:hover { color:#846b0a; }

      /* CSS Awards
         ========================================================================== */
         #cssawards {
            position:fixed;
            top:0px;
            left:0px;
            z-index:555;
         }

         #cssawards a {
            width:160px;
            height:165px;
            text-indent:-8000px;
            display:block;
            background:url(../img/cssa-brand-nominated.png)
            no-repeat;
         }

      }

   /*
    * CSS adaptado para dispositivos com resoluções maiores que 767px
    *    Tablets e desktops
    */

   @media only screen and (min-width: 768px) {

   }