/*----------  Themes mixin  ----------*/
@mixin theme($color-text, $color-link)
	&
		color: $color-text

	a:not(.arrow):not(.button)
		color: $color-link

	.arrow
		color: $color-text

/*----------  Transition for elements  ----------*/
body
	transition: color .3s ease

/*----------  Light theme  ----------*/
.is-light
	@include theme(#444, $color-blue)
