/* ==========================================================================
   Animacaoes
   ========================================================================== */

   /* Logo
      ========================================================================== */
      h1 {
         position: relative;
         top: -80px;
         -webkit-animation: titleMove 1.1s cubic-bezier(0.175, 0.885, 0.520, 1.275) 0.5s forwards;
            -moz-animation: titleMove 1.1s cubic-bezier(0.175, 0.885, 0.520, 1.275) 0.5s forwards;
             -ms-animation: titleMove 1.1s cubic-bezier(0.175, 0.885, 0.520, 1.275) 0.5s forwards;
              -o-animation: titleMove 1.1s cubic-bezier(0.175, 0.885, 0.520, 1.275) 0.5s forwards;
                 animation: titleMove 1.1s cubic-bezier(0.175, 0.885, 0.520, 1.275) 0.5s forwards;
      }

      .no-cssanimations h1 { top: 0; }

      @keyframes titleMove {
         0% { top: -80px; }
         100% { top: 0; }
      }

      @-webkit-keyframes titleMove {
         0% { top: -80px; }
         100% { top: 0; }
      }

      @-moz-keyframes titleMove {
         0% { top: -80px; }
         100% { top: 0; }
      }

      @-o-keyframes titleMove {
         0% { top: -80px; }
         100% { top: 0; }
      }

      @-ms-keyframes titleMove {
         0% { top: -80px; }
         100% { top: 0; }
      }

      h2 {
         position: relative;
         right: -250px;
         -webkit-animation: subtitleMove 1s ease-in 0.75s forwards;
            -moz-animation: subtitleMove 1s ease-in 0.75s forwards;
             -ms-animation: subtitleMove 1s ease-in 0.75s forwards;
              -o-animation: subtitleMove 1s ease-in 0.75s forwards;
                 animation: subtitleMove 1s ease-in 0.75s forwards;
      }

      .no-cssanimations h2 { right: 0; }

      @keyframes subtitleMove {
         0% { right: -250px; }
         100% { right: 0; }
      }

      @-webkit-keyframes subtitleMove {
         0% { right: -250px; }
         100% { right: 0; }
      }

      @-moz-keyframes subtitleMove {
         0% { right: -250px; }
         100% { right: 0; }
      }

      @-o-keyframes subtitleMove {
         0% { right: -250px; }
         100% { right: 0; }
      }

      @-ms-keyframes subtitleMove {
         0% { right: -250px; }
         100% { right: 0; }
      }

      .cssanimations .ico-logo {
         @include scale(0, 0);
         -webkit-animation: cubeMove 1s cubic-bezier(0.175, 0.885, 0.175, 1.650) 1s forwards;
            -moz-animation: cubeMove 1s cubic-bezier(0.175, 0.885, 0.175, 1.650) 1s forwards;
             -ms-animation: cubeMove 1s cubic-bezier(0.175, 0.885, 0.175, 1.650) 1s forwards;
              -o-animation: cubeMove 1s cubic-bezier(0.175, 0.885, 0.175, 1.650) 1s forwards;
                 animation: cubeMove 1s cubic-bezier(0.175, 0.885, 0.175, 1.650) 1s forwards;
      }

      @keyframes cubeMove {
         0% { @include scale(0,0); }
         100% { @include scale(1,1); }
      }

      @-webkit-keyframes cubeMove {
         0% { @include scale(0,0); }
         100% { @include scale(1,1); }
      }

      @-moz-keyframes cubeMove {
         0% { @include scale(0,0); }
         100% { @include scale(1,1); }
      }

      @-o-keyframes cubeMove {
         0% { @include scale(0,0); }
         100% { @include scale(1,1); }
      }

      @-ms-keyframes cubeMove {
         0% { @include scale(0,0); }
         100% { @include scale(1,1); }
      }

   /* Sobre
      ========================================================================== */
      .cssanimations #about {
         opacity: 0;
         -webkit-animation: showElement 2s linear 2s forwards;
            -moz-animation: showElement 2s linear 2s forwards;
             -ms-animation: showElement 2s linear 2s forwards;
              -o-animation: showElement 2s linear 2s forwards;
                 animation: showElement 2s linear 2s forwards;
      }

      @keyframes showElement {
         0% { opacity: 0; }
         100% { opacity: 1; }
      }

      @-webkit-keyframes showElement {
         0% { opacity: 0; }
         100% { opacity: 1; }
      }

      @-moz-keyframes showElement {
         0% { opacity: 0; }
         100% { opacity: 1; }
      }


      @-o-keyframes showElement {
         0% { opacity: 0; }
         100% { opacity: 1; }
      }

      @-ms-eyframes showElement {
         0% { opacity: 0; }
         100% { opacity: 1; }
      }

   /* Works / Contact
      ========================================================================== */
      @keyframes worksMove {
         0% { left: -400px; }
         100% { left: 0; }
      }

      @-webkit-keyframes worksMove {
         0% { left: -400px; }
         100% { left: 0; }
      }

      @-moz-keyframes worksMove {
         0% { left: -400px; }
         100% { left: 0; }
      }

      @-o-keyframes worksMove {
         0% { left: -400px; }
         100% { left: 0; }
      }

      @-ms-keyframes worksMove {
         0% { left: -400px; }
         100% { left: 0; }
      }

      #works {
         left: 0;
         -webkit-animation: worksMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
            -moz-animation: worksMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
             -ms-animation: worksMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
              -o-animation: worksMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
                 animation: worksMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
      }

      @keyframes contactMove {
         0% { right: -400px; }
         100% { right: 0; }
      }

      @-webkit-keyframes contactMove {
         0% { right: -400px; }
         100% { right: 0; }
      }

      @-moz-keyframes contactMove {
         0% { right: -400px; }
         100% { right: 0; }
      }

      @-o-keyframes contactMove {
         0% { right: -400px; }
         100% { right: 0; }
      }

      @-ms-keyframes contactMove {
         0% { right: -400px; }
         100% { right: 0; }
      }

      #contact {
         right: 0;
         -webkit-animation: contactMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
            -moz-animation: contactMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
             -ms-animation: contactMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
              -o-animation: contactMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
                 animation: contactMove 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s both;
      }

      .hold-title,
      .list {
         -webkit-animation: showElement 1s ease-in-out 2.5s both;
            -moz-animation: showElement 1s ease-in-out 2.5s both;
             -ms-animation: showElement 1s ease-in-out 2.5s both;
              -o-animation: showElement 1s ease-in-out 2.5s both;
                 animation: showElement 1s ease-in-out 2.5s both;
      }

   /* Botão
      ========================================================================== */
      .button {
         -webkit-animation: buttonMove 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3s both;
            -moz-animation: buttonMove 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3s both;
             -ms-animation: buttonMove 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3s both;
              -o-animation: buttonMove 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3s both;
                 animation: buttonMove 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 3s both;
      }

      @keyframes buttonMove {
         0% { bottom: -50px; }
         100% { bottom: 50px; }
      }

      @-webkit-keyframes buttonMove {
         0% { bottom: -50px; }
         100% { bottom: 50px; }
      }

      @-moz-keyframes buttonMove {
         0% { bottom: -50px; }
         100% { bottom: 50px; }
      }

      @-o-keyframes buttonMove {
         0% { bottom: -50px; }
         100% { bottom: 50px; }
      }

      @-ms-keyframes buttonMove {
         0% { bottom: -50px; }
         100% { bottom: 50px; }
      }

   /* Cidade
      ========================================================================== */
      .city {
         -webkit-animation: cityMove 10s linear infinite alternate;
            -moz-animation: cityMove 10s linear infinite alternate;
             -ms-animation: cityMove 10s linear infinite alternate;
              -o-animation: cityMove 10s linear infinite alternate;
                 animation: cityMove 10s linear infinite alternate;
      }

      @keyframes cityMove {
         0% { background-position: left top; }
         100% { background-position: right top }
      }

      @-webkit-keyframes cityMove {
         0% { background-position: left top; }
         100% { background-position: right top }
      }

      @-moz-keyframes cityMove {
         0% { background-position: left top; }
         100% { background-position: right top }
      }

      @-o-keyframes cityMove {
         0% { background-position: left top; }
         100% { background-position: right top }
      }

      @-ms-keyframes cityMove {
         0% { background-position: left top; }
         100% { background-position: right top }
      }
