<!doctype html>
<html lang="pt-BR">

	<head>
		<meta charset="utf-8">
		<title>GDE Educação SP</title>
		<meta name="description" content="Palestra sobre os primeiros estudos do Guia de Estilos do Portal da Secretaria da Educação do Estado de São Paulo">
		<meta name="author" content="Raphael Fabeni">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="icon" href="http://www.raphaelfabeni.com.br/favicon.ico">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/gde.css" id="theme">

		<!-- <link rel="stylesheet" href="css/print/pdf.css"> -->

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">
			<div class="slides">
				<!-- Capa -->
				<section class="slide-intro">
					<h1 class="big">GDE</h1>
					<h2 class="subtitle">Secretaria da Educação</h2>
				</section>
				<!-- O que é -->
				<section>
					<section class="o-que-e" id="o-que-e">
						<h1>O que é?</h1>
					</section>
					<section id="definicao">
						<blockquote cite="https://a2comunicacao.basecamphq.com/projects/8083835/file/162924541/apresentacao_05.pdf">
						"É uma documentação que tem como objetivo organizar, listar e padronizar elementos da interface, bem como o código e a lógica de programação de um website."
						</blockquote>
						<small class="fragment">Rodrigo Teixeira</small>
					</section>
				</section>
				<!-- Por que -->
				<section>
					<section id="por-que">
						<h1>Por que?</h1>
					</section>
					<section id="evitar-a-fadiga">
						<h2 class="subtitle">Evitar a fadiga</h2>
						<figure>
							<img src="img/jaiminho.jpg" alt="Imagem mostrando o personagem Jaiminho da série humorística Chaves">
						</figure>
					</section>
					<section id="padronizacao">
						<h2 class="subtitle">Padronização</h2>
						<figure>
							<img src="img/padrao.gif" alt="Imagem mostrando crianças fazendo movimentos iguais">
						</figure>
					</section>
					<section id="velocidade-producao">
						<h2 class="subtitle">Velocidade de produção</h2>
						<figure>
							<img src="img/velocidade.gif" alt="Imagem mostrando uma pessoa digitando em um teclado rapidamente ">
						</figure>
					</section>
				</section>
				<!-- Workflow -->
				<section>
					<section id="workflow-antigo">
						<h1>Workflow</h1>
					</section>
					<section class="workflow" id="workflow-antigo-detalhes">
						<i class="icon-suitcase"></i>
						<i class="icon-double-angle-right arrow fragment"></i>
						<i class="icon-keyboard fragment"></i>
						<i class="icon-double-angle-right arrow fragment"></i>
						<i class="icon-desktop fragment"></i>
						<i class="icon-double-angle-right arrow fragment"></i>
						<i class="icon-mobile-phone fragment"></i>
						<i class="icon-double-angle-right arrow fragment"></i>
						<i class="icon-wrench fragment"></i>
						<i class="icon-double-angle-right arrow fragment"></i>
						<i class="icon-keyboard fragment"></i>
						<i class="icon-double-angle-right arrow fragment"></i>
						<i class="icon-desktop fragment"></i>
					</section>
					<section data-background="img/print-educacao.png" data-background-position="top center" id="site-educacao"></section>
					<section data-state="kid" class="workflow" id="workflow-antigo-projetos">
						<div class="hold-workflow">
							<i class="icon-suitcase"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-mobile-phone"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-wrench"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
						</div>
						<div class="hold-workflow fragment">
							<i class="icon-suitcase"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-mobile-phone"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-wrench"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
						</div>
						<div class="hold-workflow fragment">
							<i class="icon-suitcase"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-mobile-phone"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-wrench"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
						</div>
						<figure class="none full fragment kid" id="kid">
							<img src="img/triste.gif" alt="Gif animado de uma criança triste">
						</figure>
					</section>
					<section id="modulos">
						<figure class="none figure-modules">
							<img src="img/modulos-projetos.png" alt="Composição simulando módulos de um projeto">
							<img class="fragment" src="img/modulos-iguais.png" alt="Composição simulando módulos semelhantes de projetos">
						</figure>
					</section>
					<section id="economia-tempo">
						<figure class="none">
							<img src="img/tempo.png" alt="Ícone simulando um relógio">
						</figure>
					</section>
					<section data-background="img/print-guia-old.png" data-background-position="top center" id="primeira-ideia-guia"></section>
					<section class="slide-center" id="projetos-guia-de-estilo">
						<figure>
							<img src="img/thumb-educacao.jpg" alt="Thumb do website da Secretaria da Educação do Estado de São Paulo">
						</figure>
						<figure>
							<img src="img/thumb-cima.jpg" alt="Thumb do website da Coordenadoria de Informação, Monitoramento e Avaliação Educacional">
						</figure>
						<figure>
							<img src="img/thumb-spec.jpg" alt="Thumb do website do Sistema de Proteção Escolar">
						</figure>
						<p class="fragment">Guia de Estilos depois de projetos já desenvolvidos</p>
					</section>
					<section id="dificuldades">
						<h2 class="subtitle">Dificuldades</h2>
						<ul>
							<li class="fragment">Códigos já desenvolvidos</li>
							<li class="fragment">Projetos já em produção e/ou fase de testes</li>
							<li class="fragment">Alta complexidade e margem de erro muito grande</li>
						</ul>
					</section>
					<section id="mudancas">
						<h2 class="subtitle">Mudanças</h2>
						<ul>
							<li class="fragment">Projetos já desenvolvidos utilizariam a versão antiga do Guia de Estilo</li>
							<li class="fragment">Novos projetos deveriam utilizar uma nova versão do Guia, que deveria servir como base para o desenvolvimento</li>
						</ul>
					</section>
				</section>
				<!-- Estudos -->
				<section>
					<section id="primeiros-estudos">
						<h1>
							<span class="block">Primeiros</span>
							<span class="block">Estudos</span>
						</h1>
					</section>
					<section class="slide-center" id="primeiros-rabiscos">
						<figure>
							<img src="img/estudos-02.jpg" alt="Primeiros estudos sobre o Guia de Estilos">
						</figure>
						<figure>
							<img src="img/estudos-01.jpg" alt="Primeiros estudos sobre o Guia de Estilos">
						</figure>
					</section>
					<section id="estrutura-antigo">
						<h2 class="subtitle">Estrutura</h2>
						<h3 class="fragment">OLD</h3>
						<p class="fragment">Utilizava <i>HTML</i> puro</p>
						<p class="fragment">Difícil manutenção</p>
					</section>
					<section id="github">
						<figure class="none">
							<img src="img/github.png" alt="Logo do software GitHub">
						</figure>
						<p class="fragment">Visualização e repositório em apenas um local</p>
						<p class="fragment"><i>Não roda nenhuma linguagem de servidor</i></p>
					</section>
					<section id="jekyll">
						<figure>
							<img src="img/jekyll.png" alt="Logo do gerador estático Jekyll">
						</figure>
						<p class="fragment">Integração com o GitHub (pages)</p>
						<p class="fragment">Suporta <i>Markdown</i></p>
					</section>
					<section id="estrutura-jekyll">
						<figure class="none">
							<img src="img/pastas-jekyll.png" alt="Estrutura de pastas Jekyll">
						</figure>
					</section>
					<section id="jekyll-includes">
						<figure class="none">
							<img src="img/pastas-jekyll-include.png" alt="Estrutura de pastas Jekyll com destaque na pasta _include">
						</figure>
						<p class="fragment">Pasta com os includes que serão utilizados nas páginas.</p>
						<figure class="none fragment">
							<img src="img/includes.png" alt="Print da pasta _includes do projeto">
						</figure>
					</section>
					<section id="jekyll-layouts">
						<figure class="none">
							<img src="img/pastas-jekyll-layout.png" alt="Estrutura de pastas Jekyll com destaque na pasta _layouts">
						</figure>
						<p class="fragment">Pasta com os arquivos de <i>layout</i> utilizados.</p>
						<figure class="none fragment">
							<img src="img/layouts.png" alt="Print da pasta _layouts do projeto">
						</figure>
					</section>
					<section id="jekyll-code-layout">
						<pre class="code-big"><code data-trim>
&lt;!doctype html&gt;
&lt;!--[if IE 7]&gt;    &lt;html class="no-js ie7" lang="pt-br"&gt;     &lt;![endif]--&gt;
&lt;!--[if IE 8]&gt;    &lt;html class="no-js ie8" lang="pt-br"&gt;     &lt;![endif]--&gt;
&lt;!--[if IE 9]&gt;    &lt;html class="no-js ie9" lang="pt-br"&gt;     &lt;![endif]--&gt;
&lt;head&gt;
   &lt;title&gt;{% if page.title %} {{ page.title }} | {% endif %} Guia de Estilos - Educação SP&lt;/title&gt;
   &lt;!-- Meta --&gt;
   &lt;meta charset="utf-8"&gt;
   {% include meta.html %}
   &lt;!-- CSS --&gt;
   {% include estilos.html %}
&lt;/head&gt;
&lt;body class="{{ page.body_class }} {{ page.page_type }}"&gt;

   &lt;!-- Header --&gt;
   {% include header.html %}

   &lt;div class="container"&gt;
      {% include menu.html %}

      &lt;article class="main" role="main"&gt;
         &lt;h2 class="styleguide-title-page"&gt;{{ page.title }}&lt;/h2&gt;

         {{ content }}

      &lt;/article&gt;

   &lt;/div&gt;

   &lt;!-- Footer --&gt;
   {% include footer.html %}

   &lt;!-- Scripts --&gt;
   {% include scripts.html %}
&lt;/body&gt;
&lt;/html&gt;

						</code></pre>

					</section>
					<section class="slide-center" id="jekyll-conteudo">
						<figure class="none">
							<img src="img/pastas-jekyll-conteudo.png" alt="Estrutura de pastas Jekyll com destaque nas pastas de conteúdo">
						</figure>
						<p class="fragment">Pastas que servem como categorias do conteúdo</p>
						<figure class="none fragment">
							<img src="img/conteudo.png" alt="Print de um exemplo de pasta de conteúdo">
						</figure>
						<figure class="none fragment">
							<img src="img/atributos-layout.png" alt="Atributos de layout das páginas de conteúdo">
						</figure>
					</section>
					<section id="jekyll-site-gerado">
						<figure class="none">
							<img src="img/pastas-jekyll-site.png" alt="Estrutura de pastas Jekyll com destaque na pasta _site">
						</figure>
						<p class="fragment">Pasta com o conteúdo gerado do projeto</p>
						<figure class="none fragment">
							<img src="img/site.png" alt="Print de um exemplo de pasta _site do projeto">
						</figure>
					</section>
				</section>
				<!-- v 1.0 -->
				<section>
					<section id="v1.0">
						<h1 class="big"><small>v</small>1.0</h1>
					</section>
					<section id="v1.0-homepage">
						<figure class="none full">
							<img src="img/print-guia-v1.png" alt="Print da página inicial da primeira versão do Guia de Estilos">
						</figure>
					</section>
					<section id="v1.0-interna">
						<figure class="none full">
							<img src="img/print-guia-v1-interna.png" alt="Print de uma página interna da primeira versão do Guia de Estilos">
						</figure>
					</section>
					<section id="v1.0-release">
						<figure class="none full">
							<img src="img/v1-release.png" alt="Print do release da primeira versão do guia de estilos">
						</figure>
					</section>
				</section>
				<!-- v 2.0 -->
				<section>
					<section id="v2.0">
						<h1 class="big"><small>v</small>2.0</h1>
					</section>
					<section id="v2.0-sitemap">
						<figure class="none full">
							<img src="img/sitemap_gde_03.png" alt="Sitemap da segunda versão do Guia de Estilos">
						</figure>
					</section>
					<section class="slide-center" id="v2.0-wireframe">
						<figure class="full">
							<img src="img/gdev2-home.png" alt="Print da homepage do protótipo da nova versão do Guia de Estilos">
						</figure>
						<figure class="full">
							<img src="img/gdev2-termos.png" alt="Print de página interna do protótipo da nova versão do Guia de Estilos">
						</figure>
					</section>
					<section data-state="bg-animation" class="bg-layout" data-background="img/gdev2-layout.jpg" data-background-position="top center" id="v2.0-homepage"></section>
				</section>
				<!-- O que mudou -->
				<section>
					<section id="o-que-mudou">
						<h1>O que <span class="block">mudou?</span></h1>
					</section>
					<section id="grunt">
						<figure class="full none">
							<img src="img/grunt.png" alt="Imagem do logo do Grunt">
						</figure>
						<ul>
							<li class="fragment">Automatizador de tarefas</li>
						</ul>
					</section>
					<section id="automatizador-tarefas">
						<h2 class="subtitle">Oi?</h2>
						<ul>
							<li class="fragment">Concatenar e minificar <i>CSS</i></li>
							<li class="fragment">Compilar e exportar arquivos <i>SASS</i></li>
							<li class="fragment">Validação de arquivos <i>JS</i></li>
							<li class="fragment">Compressão de <i>HTML</i></li>
							<li class="fragment">Minificação de imagens</li>
							<li class="fragment"><i>Livereload</i></li>
							<li class="fragment">....</li>
						</ul>
					</section>
					<section class="workflow" data-state="old-workflow" id="workflow">
						<h2 class="subtitle">Workflow</h2>
						<div class="hold-workflow" id="first-workflow">
							<i class="icon-keyboard fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-file-alt fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-certificate fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-github fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-home fragment"></i>
						</div>
						<div class="hold-workflow">
							<i class="icon-suitcase fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-download-alt fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-keyboard fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-desktop fragment"></i>
						</div>
						<div class="hold-workflow fragment">
							<i class="icon-suitcase"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-download-alt"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
						</div>
						<div class="hold-workflow">
							<i class="icon-wrench fragment" id="wrench-workflow"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-keyboard fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-file-alt fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-certificate fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-github fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-home fragment" id="last-workflow"></i>
						</div>
					</section>
					<section id="entao">
						<h2 class="subtitle">Então...</h2>
						<ul>
							<li class="fragment"><strong>Repositório:</strong> Github</li>
							<li class="fragment"><strong>Visualização: </strong>Educação</li>
							<li class="fragment"><strong>Guia: </strong>Local em cada projeto</li>
						</ul>
					</section>
					<section class="workflow" data-state="new-workflow" id="novo-workflow">
						<h2 class="subtitle">Workflow</h2>
						<div class="hold-workflow" id="new-first-workflow">
							<i class="icon-keyboard fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-file-alt fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-certificate fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-github fragment"></i>
						</div>
						<div class="hold-workflow">
							<i class="icon-suitcase fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-github fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-keyboard fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-desktop fragment"></i>
						</div>
						<div class="hold-workflow fragment">
							<i class="icon-suitcase"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-github"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-keyboard"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
						</div>
						<div class="hold-workflow">
							<i class="icon-wrench fragment" id="new-wrench-workflow"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-keyboard fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-file-alt fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-certificate fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-github fragment" id="new-last-workflow"></i>
						</div>
					</section>
					<section id="resumindo">
						<h2 class="subtitle">Então...</h2>
						<ul>
							<li class="fragment"><strong>Repositório:</strong> Github</li>
							<li class="fragment"><strong>Visualização: </strong>Github</li>
							<li class="fragment"><strong>Guia: </strong>Educação</li>
						</ul>
					</section>
					<section class="workflow workflow-big" data-state="workflow-mobile" id="mobile-first">
						<h2 class="subtitle">Workflow</h2>
						<div class="hold-workflow" id="hold-workflow-mobile">
							<i class="icon-desktop fragment"></i>
							<i class="icon-double-angle-right arrow fragment"></i>
							<i class="icon-mobile-phone fragment" id="workflow-mobile"></i>
						</div>
						<div class="hold-workflow fragment">
							<i class="icon-mobile-phone"></i>
							<i class="icon-double-angle-right arrow"></i>
							<i class="icon-desktop"></i>
						</div>
					</section>
					<section id="rodando">
						<h2 class="subtitle">Rodando...</h2>
						<pre class="fragment none">
							<code data-trim>
								grunt w
							</code>
						</pre>
						<pre class="fragment none">
							<code data-trim>
								jekyll serve &#45;&#45;watch &#45;&#45;baseurl ''
							</code>
						</pre>
					</section>
				</section>
				<!-- Melhorias -->
				<section>
					<section id="melhorias">
						<h1>Melhorias</h1>
					</section>
					<section id="itens-melhorias">
						<ul>
							<li class="fragment">Estudar divisão das categorias dos módulos</li>
							<li class="fragment">Melhorar processo de criação dos módulos</li>
							<li class="fragment">Começar a colocar conteúdo textual</li>
							<li class="fragment">Finalizar ajustes finos de layout</li>
						</ul>
					</section>
				</section>
				<section id="obrigado">
					<h1>...</h1>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
