.post
	width: 100%
	color: $color-gray
	border-bottom: 1px solid #eee
	padding-bottom: 10px

	&:first-of-type
		margin-top: 20px
		border-top: 1px solid #eee

	&__title
		font-size: 22px
		font-weight: $font-weight--semibold

	&__link
		display: block
		transition: color .3s ease
		padding: 15px 0
		text-decoration: none

	&__category
		color: $color-gray
		opacity: .75
		font-size: 16px
		transform: translateY(-12px)
		display: inline-block