body
	color: $color-typography
	font-family: $font-family--default
	font-weight: $font-weight--light
	font-size: 18px

	@include media(768px)
		font-size: 16px

/*----------  Titles  ----------*/


/*----------  Typography  ----------*/
p
	line-height: 1.4

/*----------  Links  ----------*/
a:not(.arrow):not(.button):not(.post__link)
	color: $color-links
	transition: opacity .3s ease, color .3s ease

	&:hover,
	&:focus
		opacity: .8
