//
// Grid
//

.container
	width: 100%
	max-width: 1200px
	margin: 0 auto
	padding-left: 60px
	padding-right: 60px

	@include media($grid--break-arrows)
		padding-left: 20px
		padding-right: 20px

	&.has-color
		background-color: #111

	&--full
		max-width: 100%

	&--flex
		display: flex
		justify-content: space-between
		flex-wrap: wrap

/*----------  Flex for center elements  ----------*/
.is-center
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
