//
// Header
//

.header
	padding-top: 20px
	padding-bottom: 20px
	position: relative
	z-index: $z-index--header

	/*----------  Info  ----------*/
	&__info
		display: flex
		align-items: center
		max-width: 550px

	/*----------  Thumb  ----------*/
	&__thumb
		border-radius: 50%
		overflow: hidden
		display: inline-block
		max-width: 100px
		flex-basis: 100px
		border: solid 5px rgba(255, 255, 255, .2)
		margin-right: 10px

		@include media($grid--break-actions)
			max-width: 70px
			flex-basis: 70px

	/*----------  Title and subtitle  ----------*/
	&__title,
	&__subtitle

		a
			text-decoration: none

	&__title
		font-size: 28px

		@include media(500px)
			font-size: 24px

	&__subtitle
		font-size: 20px

		@include media(500px)
			font-size: 16px

/*----------  Inline version  ----------*/
.header--inline

	.header__title,
	.header__subtitle
		display: inline-block

		@include media(650px)
			display: block

	.header__subtitle
		margin-top: 5px
		margin-left: 10px

		@include media(650px)
			margin: 0
