$color-orange: #f39c12
$color-blue: #4183d7
$color-green: #2ecc71
/*----------  Gradients  ----------*/
$gradient-dark--color-1: #434343
$gradient-dark--color-2: #000

$gradient-blue--color-1: #136a8a
$gradient-blue--color-2: #267871

/*----------  Fonts  ----------*/
$font-family--default: 'Raleway', Helvetica, Arial, sans-serif
$font-weight--light: 300

$color-typography: #fff
$color-links: $color-orange
$color-links--inverse: $color-green

/*----------  Themes  ----------*/

/*----------  Z-index  ----------*/
$z-index--navigation: 9
$z-index--container-post: 8
$z-index--header-post-title: 7
$z-index--header-post: 5
$z-index--header: 6
$z-index--arrow: 4
$z-index--main: 3
$z-index--cover: 2
$z-index--gradient: 1

$grid--break-arrows: 768px
$grid--break-actions: 600px
