/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $totalColumns   : 12;
        $columnWidth    : 60px;
        $gutterWidth    : 20px;
        $gridWidth      : 940px;
        $breakpoint     : 768px;

    /*  ==========================================================================
        Colors
        ========================================================================== */
        $purple: darken(#382658, 5%);
        $pink: #d15959;

        $orange: #fd6b00;
        $brown: #402519;
        $yellow: #FFFC19;
        $blue: #4bacc6;
        $navy-blue: #10b1b2;
        $gray: #222;

        $color-default:     #eee;
        $color-primary:     $gray;
        $color-secondary:   $navy-blue;