/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $totalColumns   : 12;
        $columnWidth    : 60px;
        $gutterWidth    : 20px;
        $gridWidth      : 940px;
        $breakpoint     : 768px;

    /*  ==========================================================================
        Colors
        ========================================================================== */
        $purple: darken(#382658, 5%);
        $pink: #d15959;

        $color-default:     #eee;
        $color-primary:     $purple;
        $color-secondary:   $pink;