.thumb-list {
	float: left;
}

.thumb-list figure {
	float: left;
}

.example-table td {
	padding-top: 7px;
	padding-bottom: 7px;
}

.example-table td small {
	vertical-align: middle;
}

code.big {
	max-height: 650px;
}
