
/*  ==========================================================================
    Layout
    ========================================================================== */
    @mixin button($color, $text: #fff) {
        background-color: darken($color, 5%);
        color: $text;
        //@include box-shadow(0px 5px 0 0 darken($color, 8%));
        @include box-shadow(0 6px 0 0 darken($color, 9%));

        &:hover,
        &:focus {background-color: darken($color, 7%); }

        &:active { @include box-shadow(0 2px 0 0 darken($color, 9%)); }
    }

    @mixin progress($color) {
        color: lighten($color, 10%);

        &::-webkit-progress-value { background-color: lighten($color, 10%); }
        &::-moz-progress-bar { background-color: lighten($color, 10%); }
    }

    @media only screen {

        body {
            overflow-x: hidden;
            background-color: $color-primary;
        }

        /*  Progress
            ========================================================================== */
            progress {
                z-index: 9999;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 8px;
                -webkit-appearance: none;
                   -moz-appearance: none;
                        appearance: none;
                border: none;
                background-color: transparent;
                //color: lighten($color-secondary, 10%);
                @include transition(all .25s ease);
                @include box-shadow(0 1px 11px 0 rgba(0,0,0,.7));

                @include progress($color-secondary);
            }

            progress::-webkit-progress-bar { background-color: transparent; }

        /*  Button
            ========================================================================== */
            .btn {
                border: none;
                display: inline-block;
                padding: 15px 25px;
                @include transition(all 0.2s ease-in-out 0s);
                @include button($color-primary);
                text-align: center;
                text-shadow: 1px 1px 1px #000;
            }

            .btn:active {
                @include transform(translate(0px, 4px));
            }

            .btn-color {
                width: 300px;
                margin: 0 auto;
                display: block;
            }

            .btn:hover,
            .btn:hover,
            .btn:active {
                //@include transform(scale(1.1));
                outline-color: transparent;
                outline-style: none;
            }

        /*  Social
            ========================================================================== */
            .social {
                display: block;
                padding: 20px 0;
                margin: 0;
                list-style-type: none;
            }

            .social li { display: inline-block; }
            .social li + li { margin-left: 20px; }

            .social li a {
                font-size: 38px;
                line-height: 38px;
                @include transition(all .25s ease);
                color: lighten($color-primary, 40%);
            }

            .social .twitter:hover { color: #55acee; }
            .social .facebook:hover { color: #44609d; }
            .social .github:hover { color: #bbbbbb; }
            .social .google:hover { color: #dd4b39; }
            .social .linkedin:hover { color: #1c87bd; }
            .social .codepen:hover { color: #fff; }

        /*  Blog
            ========================================================================== */
            figure { margin: 0; }
            figcaption {
                padding: 10px;
                background-color: darken($color_primary, 6%);
                color: #fff;
                text-shadow: 1px 1px 0 darken($color_primary, 20%);
            }

            .post {
                padding: 30px 0;
                text-align: center;
            }

            .post-content {
                padding-bottom: 20px;
                margin-bottom: 25px;
            }

            .post-content,
            .post { border-bottom: solid 1px darken($color-primary, 7%); }

            .post .title,
            .post-content .title { margin: 0 0 10px; }

            .post-content .subtitle,
            .post-content h2 {
                font-size: 28px;
                line-height: 38px;
            }

            .post-content h3 { font-size: 24px; }

            .post-content h2,
            .post-content h3,
            .post-content h4 {
                text-align: center;
                padding-top: 12px;
            }

            .short { font-size: 18px; }
            .rss { padding: 35px 0; }

            .post-content .date {
                margin-bottom: 25px;
                text-align: center;
            }

            .post-content p,
            .post-content ul,
            .post-content ol {
                font-size: 18px;
                line-height: 28px;
                text-align: justify;
            }

            .post-content figure { margin: 0 0 15px 0; }

            .post-content .image-opening {
                max-height: 450px;
                overflow: hidden;
            }

            .post-content figure.thumb-left {
                float: left;
                margin-right: 15px;
            }

            .post-content figure.thumb-right {
                float: right;
                margin-left: 15px;
            }

            .post-content figure.thumb-left,
            .post-content figure.thumb-right { display: table; }

            .post-content figure.thumb-left figcaption,
            .post-content figure.thumb-right figcaption {
                caption-side: bottom;
                display: table-caption;
            }

            /*
             * Loading
             */
            @-webkit-keyframes rotation {
                from { -webkit-transform: rotate(0deg); }
                to { -webkit-transform: rotate(359deg); }
            }

            @-moz-keyframes rotation {
                from { -moz-transform: rotate(0deg); }
                to { -moz-transform: rotate(359deg); }
            }

            @-o-keyframes rotation {
                from { -o-transform: rotate(0deg); }
                to { -o-transform: rotate(359deg); }
            }

            @-ms-keyframes rotation {
                from { -ms-transform: rotate(0deg); }
                to { -ms-transform: rotate(359deg); }
            }

            @keyframes rotation {
                from { transform: rotate(0deg); }
                to  {transform: rotate(359deg); }
            }

            .loading {
                position: relative;
                min-height: 50px;
            }

            .loading:before {
                height: 20px;
                width: 20px;
                position: absolute;
                content: '';
                left: 50%;
                top: 50%;
                margin: -10px 0 0 -10px;
                border: solid 4px #666;
                @include border-radius(100%);
                border-top-color: transparent;
                @include animation(rotation 0.6s infinite linear);
                z-index: 0;
            }

            .loading > * {
                position: relative;
                z-index: 1;
            }

            .presentation {
                width: 100%;
                height: auto;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
            }

            .post-content figure.presentation {
                margin-left: auto;
                margin-right: auto;
            }

            /*  Syntax
                ========================================================================== */
                .highlight {
                    margin-bottom: 20px;
                    padding: 10px 20px;
                    @include box-shadow(0px 0px 50px 0 rgba(0,0,0,.3) inset);
                }

                code {
                    background-color: rgba(0, 0, 0, .3);
                    color: #f92672;
                    padding: 2px 5px;
                }

                .highlight pre {
                    color: #eee;
                    text-indent: -6px;
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                }

                .highlight code {
                    background-color: transparent;
                    color: inherit;
                }

                /* Adjustments for code inside text */
                p code { font-size: 16px; }
                code { font-size: 14px; }

                h2 code { font-size: 26px; }

        /*  Disqus
            ========================================================================== */
            .main-disqus {
                margin: 40px 0 0;
                padding: 15px;
                background-color: #fff;
            }

            .main-disqus > div {
                width: 100%;
                margin: 0 auto;
                max-width: 980px;
            }

        /*  Share
            ========================================================================== */
            .share {
                height: 30px;
                margin-bottom: 20px;
            }
            .share-item { float: left; }
            .share-item + .share-item { margin-left: 35px; }

            .share iframe {
                max-width: none;
            }

        /*  Projects
            ========================================================================== */
            .github-box-wrap { margin-bottom: 20px; }
    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Share
            ========================================================================== */
            .share {
                display: block;
                width: 245px;
                margin-left: auto;
                margin-right: auto;
            }

        /*  Start animations
            ========================================================================== */
            .main-index .header .title { @include animation(fadeIn 1.25s ease both); }
            .main-index .header .subtitle { @include animation(fadeInLeft 1s 0.75s ease both); }
            .main-index .nav-main { @include animation(fadeIn 1s 1s ease both); }

            .main-index .thumb {
                backface-visibility: visible;
                @include animation(flipInY 2s 1.5s ease both);
            }

            .main-index p:first-child { @include animation(fadeIn 1.5s 2s ease both); }
            .main-index p:nth-child(2) { @include animation(fadeIn 1.5s 2.5s ease both); }
            .main-index p:nth-child(3) { @include animation(fadeIn 1.5s 3s ease both); }
            .main-index p:nth-child(4) { @include animation(fadeIn 1.5s 3.5s ease both); }

            .main-index .social li:first-child { @include animation(fadeInDown 1.25s 4s ease both); }
            .main-index .social li:nth-child(2) { @include animation(fadeInUp 1.25s 4.25s ease both); }
            .main-index .social li:nth-child(3) { @include animation(fadeInDown 1.25s 4.5s ease both); }
            .main-index .social li:nth-child(4) { @include animation(fadeInUp 1.25s 4.75s ease both); }
            .main-index .social li:nth-child(5) { @include animation(fadeInDown 1.25s 5s ease both); }
            .main-index .social li:nth-child(6) { @include animation(fadeInUp 1.25s 5.25s ease both); }

            .main-index .btn { @include animation(fadeIn 1s 1.25s ease both); }

        /*  Header btn
            ========================================================================== */
            .btn-color {
                position: absolute;
                right: 20px;
                top: 20px;
                width: auto;
            }
    }

    @media only screen and (min-width: 1375px) {

        .header-home .btn-color { position: absolute; }
        .btn-color { position: fixed; }

    }
