
/*  ==========================================================================
    Layout
    ========================================================================== */
    @mixin button($color, $text: #fff) {
        background-color: darken($color, 3%);
        color: $text;

        &:hover,
        &:focus { background-color: darken($color, 4%); }
    }

    @media only screen {

        body {
            background-color: $color-primary;
        }

        /*  Button
            ========================================================================== */
            .btn {
                border: none;
                display: inline-block;
                padding: 15px 25px;
                @include transition(all .25s ease);
                @include button($purple);
                text-align: center;
            }

            .btn-color {
                width: 300px;
                margin: 0 auto;
                display: block;
            }

            .btn:hover { @include transform(scale(1.1)); }

        /*  Talks
            ========================================================================== */
            .main-talks,
            .main-talks p { text-align: center; }

        /*  Social
            ========================================================================== */
            .social {
                display: block;
                padding: 20px 0;
                margin: 0;
                list-style-type: none;
            }

            .social li { display: inline-block; }
            .social li + li { margin-left: 20px; }

            .social li a {
                font-size: 38px;
                line-height: 38px;
                @include transition(all .25s ease);
                color: lighten($purple, 40%);
            }

            .social .twitter:hover { color: #55acee; }
            .social .facebook:hover { color: #44609d; }
            .social .github:hover { color: #bbbbbb; }
            .social .google:hover { color: #dd4b39; }
            .social .linkedin:hover { color: #1c87bd; }

        /*  Blog
            ========================================================================== */
            figure { margin: 0; }
            .post {
                padding: 30px 0;
                text-align: center;
            }

            .post-content {
                padding-bottom: 20px;
                margin-bottom: 25px;
            }

            .post-content,
            .post { border-bottom: solid 1px darken($purple, 7%); }

            .post .title,
            .post-content .title { margin: 0 0 10px; }
            .post-content .subtitle {
                font-size: 28px;
                line-height: 38px;
            }

            .short { font-size: 18px; }
            .rss { padding: 35px 0; }

            .post-content .date {
                margin-bottom: 25px;
                text-align: center;
            }

            .post-content p {
                font-size: 18px;
                line-height: 28px;
                text-align: justify;
            }

            .post-content figure { margin-bottom: 15px; }
    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Start animations
            ========================================================================== */
            .main-index .header .title { @include animation(fadeIn 1.25s ease both); }
            .main-index .header .subtitle { @include animation(fadeInLeft 1s 0.75s ease both); }

            .main-index .thumb {
                backface-visibility: visible;
                @include animation(flipInY 2s 1.25s ease both);
            }
            
            .main-index p:first-child { @include animation(fadeIn 1.5s 2s ease both); }
            .main-index p:nth-child(2) { @include animation(fadeIn 1.5s 2.5s ease both); }
            .main-index p:nth-child(3) { @include animation(fadeIn 1.5s 3s ease both); }
            .main-index p:nth-child(4) { @include animation(fadeIn 1.5s 3.5s ease both); }

            .main-index .social li:first-child { @include animation(fadeInDown 1.25s 4s ease both); }
            .main-index .social li:nth-child(2) { @include animation(fadeInUp 1.25s 4.25s ease both); }
            .main-index .social li:nth-child(3) { @include animation(fadeInDown 1.25s 4.5s ease both); }
            .main-index .social li:nth-child(4) { @include animation(fadeInUp 1.25s 4.75s ease both); }
            .main-index .social li:nth-child(5) { @include animation(fadeInDown 1.25s 5s ease both); }
            .main-index .social li:nth-child(6) { @include animation(fadeInUp 1.25s 5.25s ease both); }

            .main-index .btn { @include animation(fadeIn 1s 5.5s ease both); }
    }
