/*  General
    ========================================================================== */
    body,
    .thumb,
    .title a,
    .subtitle {
        @include transition(all .5s ease);
    }

/*  Gray
    ========================================================================== */
    .gray { background-color: #333; }
    
    .gray .header .title a,
    .gray .header .subtitle,
    .gray .title,
    .gray .subtitle,
    .gray h1,
    .gray h2,
    .gray h3,
    .gray h4,
    .gray h5,
    .gray h6,
    .gray a:hover,
    .gray a:focus { color: $orange; }

    .gray .thumb { border-color: darken($orange, 10%); }

    .gray .social li a,
    .gray a { color: lighten(#333, 40%); }

    .gray .btn { @include button(#333); }

    .gray .post-content,
    .gray .post { border-color: darken(#333, 7%); }

    .gray progress { @include progress($orange); }

    .gray figcaption {
        background-color: darken(#333, 6%);
        text-shadow: 1px 1px 0 darken(#333, 15%);
    }

/*  Purple
    ========================================================================== */
    .purple { background-color: $purple; }
    
    .purple .header .title a,
    .purple .header .subtitle,
    .purple .title,
    .purple .subtitle,
    .purple h1,
    .purple h2,
    .purple h3,
    .purple h4,
    .purple h5,
    .purple h6,
    .purple a:hover,
    .purple a:focus { color: $pink; }

    .purple .thumb { border-color: darken($pink, 10%); }

    .purple .social li a,
    .purple a { color: lighten($purple, 40%); }

    .purple .btn { @include button($purple); }

    .purple .post-content,
    .purple .post { border-color: darken($purple, 7%); }

    .purple progress { @include progress($pink); }

    .purple figcaption {
        background-color: darken($purple, 6%);
        text-shadow: 1px 1px 0 darken($purple, 15%);
    }

/*  Brown
    ========================================================================== */
    .brown { background-color: $brown; }
    
    .brown .header .title a,
    .brown .header .subtitle,
    .brown .title,
    .brown .subtitle,
    .brown h1,
    .brown h2,
    .brown h3,
    .brown h4,
    .brown h5,
    .brown h6,
    .brown a:hover,
    .brown a:focus { color: darken($yellow, 15%); }

    .brown .thumb { border-color: darken($yellow, 20%); }

    .brown .social li a,
    .brown a { color: lighten($brown, 40%); }

    .brown .btn { @include button($brown); }

    .brown .post-content,
    .brown .post { border-color: darken($brown, 7%); }

    .brown progress { @include progress($yellow); }

    .brown figcaption {
        background-color: darken($brown, 6%);
        text-shadow: 1px 1px 0 darken($brown, 15%);
    }

/*  Blue
    ========================================================================== */
    .blue { background-color: darken($blue, 35%); }
    
    .blue .header .title a,
    .blue .header .subtitle,
    .blue .title,
    .blue .subtitle,
    .blue h1,
    .blue h2,
    .blue h3,
    .blue h4,
    .blue h5,
    .blue h6,
    .blue a:hover,
    .blue a:focus { color: #FF0055; }

    .blue .thumb { border-color: darken(#FF0055, 10%); }

    .blue .social li a,
    .blue a { color: $blue; }

    .blue .btn { @include button(darken($blue, 35%)); }

    .blue .post-content,
    .blue .post { border-color: darken($blue, 40%); }

    .blue progress { @include progress($blue); }

    .blue figcaption {
        background-color: darken($blue, 46%);
        text-shadow: 1px 1px 0 darken($blue, 15%);
    }
