/*  General
    ========================================================================== */
    body,
    .thumb,
    .title a,
    .subtitle {
        @include transition(all .5s ease);
    }

/*  Gray
    ========================================================================== */
    [data-color="gray"] { background-color: #333; }
    
    [data-color="gray"] .header .title a,
    [data-color="gray"] .header .subtitle,
    [data-color="gray"] .title,
    [data-color="gray"] .subtitle,
    [data-color="gray"] h1,
    [data-color="gray"] h2,
    [data-color="gray"] h3,
    [data-color="gray"] h4,
    [data-color="gray"] h5,
    [data-color="gray"] h6,
    [data-color="gray"] a:hover,
    [data-color="gray"] a:focus,
    [data-color="gray"] .active > a { color: $orange; }

    [data-color="gray"] .thumb { border-color: darken($orange, 10%); }

    [data-color="gray"] .social li a,
    [data-color="gray"] a { color: lighten(#333, 40%); }

    [data-color="gray"] .btn { @include button(#333); }

    [data-color="gray"] .post-content,
    [data-color="gray"] .post { border-color: darken(#333, 7%); }

    [data-color="gray"] progress { @include progress($orange); }

    [data-color="gray"] figcaption {
        background-color: darken(#333, 6%);
        text-shadow: 1px 1px 0 darken(#333, 15%);
    }

    [data-color="gray"] .post:hover { background-color: darken(#333, 3%); }

/*  Purple
    ========================================================================== */
    [data-color="purple"] { background-color: $purple; }
    
    [data-color="purple"] .header .title a,
    [data-color="purple"] .header .subtitle,
    [data-color="purple"] .title,
    [data-color="purple"] .subtitle,
    [data-color="purple"] h1,
    [data-color="purple"] h2,
    [data-color="purple"] h3,
    [data-color="purple"] h4,
    [data-color="purple"] h5,
    [data-color="purple"] h6,
    [data-color="purple"] a:hover,
    [data-color="purple"] a:focus,
    [data-color="purple"] .active > a { color: $pink; }

    [data-color="purple"] .sub-menu li + li { border-color: lighten($purple, 40%); }

    [data-color="purple"] .thumb { border-color: darken($pink, 10%); }

    [data-color="purple"] .social li a,
    [data-color="purple"] a { color: lighten($purple, 40%); }

    [data-color="purple"] .btn { @include button($purple); }

    [data-color="purple"] .post-content,
    [data-color="purple"] .post { border-color: darken($purple, 7%); }

    [data-color="purple"] progress { @include progress($pink); }

    [data-color="purple"] figcaption {
        background-color: darken($purple, 6%);
        text-shadow: 1px 1px 0 darken($purple, 15%);
    }

    [data-color="purple"] .post:hover { background-color: darken($purple, 3%); }

/*  Brown
    ========================================================================== */
    [data-color="brown"] { background-color: $brown; }
    
    [data-color="brown"] .header .title a,
    [data-color="brown"] .header .subtitle,
    [data-color="brown"] .title,
    [data-color="brown"] .subtitle,
    [data-color="brown"] h1,
    [data-color="brown"] h2,
    [data-color="brown"] h3,
    [data-color="brown"] h4,
    [data-color="brown"] h5,
    [data-color="brown"] h6,
    [data-color="brown"] a:hover,
    [data-color="brown"] a:focus,
    [data-color="brown"] .active > a { color: darken($yellow, 15%); }

    [data-color="brown"] .sub-menu li + li { border-color: lighten($brown, 40%); }

    [data-color="brown"] .thumb { border-color: darken($yellow, 20%); }

    [data-color="brown"] .social li a,
    [data-color="brown"] a { color: lighten($brown, 40%); }

    [data-color="brown"] .btn { @include button($brown); }

    [data-color="brown"] .post-content,
    [data-color="brown"] .post { border-color: darken($brown, 7%); }

    [data-color="brown"] progress { @include progress($yellow); }

    [data-color="brown"] figcaption {
        background-color: darken($brown, 6%);
        text-shadow: 1px 1px 0 darken($brown, 15%);
    }

    [data-color="brown"] .post:hover { background-color: darken($brown, 3%); }

/*  Blue
    ========================================================================== */
    [data-color="blue"] { background-color: darken($blue, 35%); }
    
    [data-color="blue"] .header .title a,
    [data-color="blue"] .header .subtitle,
    [data-color="blue"] .title,
    [data-color="blue"] .subtitle,
    [data-color="blue"] h1,
    [data-color="blue"] h2,
    [data-color="blue"] h3,
    [data-color="blue"] h4,
    [data-color="blue"] h5,
    [data-color="blue"] h6,
    [data-color="blue"] a:hover,
    [data-color="blue"] a:focus,
    [data-color="blue"] .active > a { color: #FF0055; }

    [data-color="blue"] .sub-menu li + li { border-color: $blue; }

    [data-color="blue"] .thumb { border-color: darken(#FF0055, 10%); }

    [data-color="blue"] .social li a,
    [data-color="blue"] a { color: $blue; }

    [data-color="blue"] .btn { @include button(darken($blue, 35%)); }

    [data-color="blue"] .post-content,
    [data-color="blue"] .post { border-color: darken($blue, 40%); }

    [data-color="blue"] progress { @include progress($blue); }

    [data-color="blue"] figcaption {
        background-color: darken($blue, 46%);
        text-shadow: 1px 1px 0 darken($blue, 15%);
    }

    [data-color="blue"] .post:hover { background-color: darken($blue, 38%); }
