/*  General
    ========================================================================== */
    body,
    .thumb,
    .title a,
    .subtitle {
        @include transition(all .5s ease);
    }

/*  Gray
    ========================================================================== */
    .gray { background-color: #333; }
    
    .gray .header .title a,
    .gray .header .subtitle,
    .gray .title,
    .gray .subtitle,
    .gray a:hover,
    .gray a:focus { color: $orange; }

    .gray .thumb { border-color: darken($orange, 10%); }

    .gray .social li a,
    .gray a { color: lighten(#333, 40%); }

    .gray .btn { @include button(#333); }

    .gray .post-content,
    .gray .post { border-color: darken(#333, 7%); }

/*  Dark gray
    ========================================================================== */
    .dark-gray { background-color: #222; }
    
    .dark-gray .header .title a,
    .dark-gray .header .subtitle,
    .dark-gray .title,
    .dark-gray .subtitle,
    .dark-gray a:hover,
    .dark-gray a:focus { color: #10b1b2; }

    .dark-gray .thumb { border-color: darken(#10b1b2, 10%); }

    .dark-gray .social li a,
    .dark-gray a { color: lighten(#222, 40%); }

    .dark-gray .btn { @include button(#222); }

    .dark-gray .post-content,
    .dark-gray .post { border-color: darken(#222, 7%); }

/*  Brown
    ========================================================================== */
    .brown { background-color: $brown; }
    
    .brown .header .title a,
    .brown .header .subtitle,
    .brown .title,
    .brown .subtitle,
    .brown a:hover,
    .brown a:focus { color: darken($yellow, 15%); }

    .brown .thumb { border-color: darken($yellow, 20%); }

    .brown .social li a,
    .brown a { color: lighten($brown, 40%); }

    .brown .btn { @include button($brown); }

    .brown .post-content,
    .brown .post { border-color: darken($brown, 7%); }

/*  Blue
    ========================================================================== */
    .blue { background-color: darken($blue, 35%); }
    
    .blue .header .title a,
    .blue .header .subtitle,
    .blue .title,
    .blue .subtitle,
    .blue a:hover,
    .blue a:focus { color: #FF0055; }

    .blue .thumb { border-color: darken(#FF0055, 10%); }

    .blue .social li a,
    .blue a { color: $blue; }

    .blue .btn { @include button(darken($blue, 35%)); }

    .blue .post-content,
    .blue .post { border-color: darken($blue, 40%); }