/**
 * Custom theme: GDE
 *
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

@import "font-awesome";
@import "animations-key";
@import "animations";


/* Typography
   ========================================================================== */
    @font-face {
      font-family: 'Arvo';
      font-style: normal;
      font-weight: 700;
      src: local('Arvo Bold'), local('Arvo-Bold'), url(http://themes.googleusercontent.com/static/fonts/arvo/v5/0Aa8aBJcGN1n1zDNhqNrnQ.woff) format('woff');
   }

// Override theme settings (see ../template/settings.scss)
$heading1TextShadow: 
    1px 1px 0 darken(#f19181, 42%),
    2px 2px 0 darken(#f19181, 43%),
    3px 3px 0 darken(#f19181, 44%),
    4px 4px 0 darken(#f19181, 45%),
    5px 5px 0 darken(#f19181, 46%),
    6px 6px 0 darken(#f19181, 47%),
    7px 7px 0 darken(#f19181, 48%),
    8px 8px 0 darken(#f19181, 49%),
    9px 9px 0 darken(#f19181, 50%),
    10px 10px 0 darken(#f19181, 51%),
    11px 11px 0 darken(#f19181, 52%),
    12px 12px 1px darken(#f19181, 53%),
    14px 14px 12px darken(#f19181, 54%);

$heading2TextShadow: 
    1px 1px 0 darken(#f19181, 46%),
    2px 2px 0 darken(#f19181, 47%),
    3px 3px 0 darken(#f19181, 48%),
    4px 4px 0 darken(#f19181, 49%),
    5px 5px 0 darken(#f19181, 50%),
    6px 6px 0 darken(#f19181, 51%),
    7px 7px 0 darken(#f19181, 52%);

$headingTextShadow: 
    1px 1px 0 darken(#f19181, 48%),
    2px 2px 0 darken(#f19181, 49%),
    2px 2px 0 darken(#f19181, 50%),
    4px 4px 0 darken(#f19181, 51%);

// Background generator
@mixin bodyBackground() {
   @include radial-gradient( darken(#ab5244, 5%), darken(#f19181, 5%) );
}


/* Definitions
   ========================================================================== */
    $headingFont: 'Arvo';
    $mainFont: Arial, "Helvetica Neue", Helvetica, sans-serif;
    $mainColor: #fff;
    $headingColor: #F3F5C4;
    $linkColor: darken(#ab5244, 20%);
    $linkColorHover: lighten( $linkColor, 20% );
    $selectionBackgroundColor: $headingColor;
    $selectionColor: #fff;

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

/*  Custom CSS
    ========================================================================== */
    /*  Grid
        ========================================================================== */
        .half {
            float: left;
            width: 46%;
            padding-left: 2%;
            padding-right: 2%;
        }

        .reveal .block { display: block; }

    /*   Typography
        ========================================================================== */
        .reveal .no-upper { text-transform: none; }
        .reveal { font-size: 40px; }
        .reveal h1 { padding-bottom: 20px;  }
        .reveal .no-space { padding-bottom: 0; }
        .reveal blockquote { background: rgba(255, 255, 255, 0.2) }

        .reveal p,
        .reveal ul,
        .reveal [class^="icon-"] { text-shadow: 1px 1px 1px #ab5244; }

        .reveal h2 {
            text-shadow: $heading2TextShadow;            
            font-size: 2.5em;
            line-height: 1em;
        }

        .reveal .subtitle { 
            text-shadow: $headingTextShadow;
            line-height: 1.1em;
        }

        .reveal .subtitle > .big { 
            font-size: 1.2em;
            line-height: 1.3em;
        }

        .reveal .text-white { color: #fff; }

        .reveal h1,
        .reveal .subtitle { -moz-hyphens: none; }

        .reveal [class^="icon-"].icon-big { font-size: 150px; line-height: 1em; }

        .reveal ul.no-bullet { 
            list-style: none;
            margin: 0;
        }

        .reveal ul.list-icon i {
            vertical-align: middle;
            margin-right: 5px;
        }

        .reveal .text-center { text-align: center; }

    /*  Code and images
        ========================================================================== */
        .reveal section .none img,
        .reveal pre.none {
            border: 0;
            box-shadow: none;
            background: none;
        }

        .figure-modules {
            position: relative;
            text-align: center;
        }

        .figure-modules img + img {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -214px;
        }
        
        .slide-center { text-align: center; }
        .slide-center figure { display: inline-block; }

        .reveal pre.code-big {
            font-size: 16px;
            width: 96%;
            margin: 0;
        }

        .reveal pre.code-big code { max-height: 100%; }

        .reveal .full img {
            max-width: 100%;
            max-height: 100%;
            margin: 0;
        }

    /*  Viewport
        ========================================================================== */
        .hold-viewport { position: relative; }
        
        .hold-viewport img + img {
            position: relative;
            z-index: 10;
        }

        img.viewport-base {
            position: absolute;
            top: 0;
            z-index: 0;
        }

    /*  Resources
        ========================================================================== */
        .reveal .hold-resources {
            line-height: 150px;
            margin-top: 20px;
        }

        .reveal .hold-resources i {
            font-size: 150px;
            margin: 0 10px;
            vertical-align: middle;
        }

    /*  Mobile first
        ========================================================================== */
        .hold-mobile-first figure {
            display: inline-block;
            vertical-align: middle;
        }

    /*  Exemplo
        ========================================================================== */
        .reveal .hold-example {
            width: 100%;
            min-height: 600px;
            margin-bottom: 15px;
            background-color: darken(#ab5244, 5%);
        }

        .reveal .hold-example iframe {
            left: 0;
            position: relative;
            height: 600px;
            max-height: 100%;
            max-width: 100%;
            vertical-align: bottom;
            width: 100%;            
            @include transition(all 3s ease);
        }

        .hold-example.animated iframe { width: 320px; }

    /*  Geral
        ========================================================================== */
        .hold-access figure,
        .hold-inputs figure,
        .hold-devices figure { display: inline-block; }        

    /*  Fragment | Transition options
        ========================================================================== */
        @mixin duration($time) {
        -webkit-transition-duration: $time;
           -moz-transition-duration: $time;
             -o-transition-duration: $time;
            -ms-transition-duration: $time;
                  transition-duration: $time;
        }

        .reveal .slides section .fragment { @include duration(0.5s); }

        .reveal .slides section[data-transition="fade"],
        .reveal.fade .slides section,
        .reveal.fade .slides > section > section { @include duration(0.5s); }