/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header { padding: 20px 0 50px; }

            .header .title a { color: $color-secondary; }

            .header .title a:hover,
            .header .title a:focus { text-decoration: none; }

            .nav-main {
                width: 100%;
                text-align: center;
            }

            .nav-link {
                font-size: 18px;
                padding: 2px 5px;
                display: block;
            }

            .header .social {
                width: 100%;
                text-align: center;
                padding: 30px 0 0;
            }

            .header .social li a {
                font-size: 28px;
                line-height: 28px;
            }

            .header .social li + li { margin-left: 15px; }
            
            /*  Thumb
                ========================================================================== */
                .thumb {
                    margin: 0 auto;
                    width: 200px;
                    @include border-radius(50%);
                    overflow: hidden;
                    border: solid 8px darken($color-primary, 3%);
                }

        /*  Breadcrumbs
            ========================================================================== */
            .breadcrumbs {
                text-align: center;
                color: #eee;
                font-size: 16px;
                padding: 15px 10px;
                margin-bottom: 25px;
            }

            .breadcrumbs > div {
                display: inline-block;
            }

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */

            /*  Title
                ========================================================================== */
                .header .title,
                .header .subtitle,
                .nav-main,
                .header .social {
                    position: fixed;
                    left: 20px;
                }

                .header .title { top: 0px; }
                .header .subtitle { top: 55px; }

                .header .social {
                    top: 85px;
                    width: auto;
                }

                .nav-main {
                    width: auto;
                    top: 120px;
                }

        /*  Footer
            ========================================================================== */

   }
