/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header { padding: 20px 0 50px; }

            .header .title a { color: $pink; }

            .header .title a:hover,
            .header .title a:focus { text-decoration: none; }

            .nav-main {
                width: 100%;
                text-align: center;
            }

            .nav-link {
                font-size: 18px;
                padding: 2px 5px;
                display: block;
            }
            
            /*  Thumb
                ========================================================================== */
                .thumb {
                    margin: 0 auto;
                    width: 200px;
                    @include border-radius(50%);
                    overflow: hidden;
                    border: solid 8px darken($purple, 3%);
                }

        /*  Footer
            ========================================================================== */
            

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */

            /*  Title
                ========================================================================== */
                .header .title,
                .header .subtitle,
                .nav-main {
                    position: absolute;
                    left: 20px;
                }

                .header .title { top: 0px; }
                .header .subtitle { top: 55px; }

                .nav-main {
                    top: 120px;
                    width: auto;
                }

        /*  Footer
            ========================================================================== */

   }
