/*  ==========================================================================
    Navigation
    ========================================================================== */

    @media only screen {

        /*  Header
            ========================================================================== */
            .header {
                padding: 20px 0 50px;
            }

            /*  Thumb
                ========================================================================== */
                .thumb {
                    margin: 0 auto;
                    width: 250px;
                    @include border-radius(50%);
                    overflow: hidden;
                    border: solid 8px darken($purple, 3%);
                }

        /*  Footer
            ========================================================================== */
            

    }

    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

        /*  Header
            ========================================================================== */

            /*  Title
                ========================================================================== */
                .title,
                .subtitle {
                    position: absolute;
                    left: 20px;
                }

                .title { top: 0px; }
                .subtitle { top: 55px; }

        /*  Footer
            ========================================================================== */

   }
