{% if page.type == 'Post' %}
  {% if page.lang == "pt-br" %}
    <link rel="alternate" hreflang="en" href="{{ site.url }}{{ page.url_en }}" />
  {% endif %}
  {% if page.lang == "en" %}
    <link rel="alternate" hreflang="pt-br" href="{{ site.url }}{{ page.url_br }}" />
  {% endif %}
{% endif %}

{% if page.type == 'blog' %}	
	<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ site.blog.en }}" />
	<link rel="alternate" hreflang="en" href="{{ site.url }}{{ site.blog.en }}" />
	<link rel="alternate" hreflang="pt-br" href="{{ site.url }}{{ site.blog.pt-br }}" />
{% endif %}