<div class="breadcrumbs">
   <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
         <span itemprop="title"><i class="fa fa-home"></i></span>
      </a> ›
   </div>
   {% if page.type == 'Archive' %}
   <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">Blog</span>
   </div>
   {% elsif page.type == 'Projects' %}
   <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">Projects</span>
   </div>
   {% elsif page.type == 'Post' %}
   <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      {% if page.lang == undefined or page.lang == "pt-br" %}
      <a href="/blog" itemprop="url">
      {% endif %}
      {% if page.lang == "en" %}
      <a href="/blog" itemprop="url">
      {% endif %}
         <span itemprop="title">Blog</span>
      </a> ›
   </div>
   <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">{{ page.title }}</span>
   </div>
   {% endif %}
</div>
