<head>
		<meta charset="utf-8">
		{% if page.type == 'Post' or page.type == 'category' %}
			<title>{{ page.title }} - Blog | Raphael Fabeni</title>
		{% elsif page.layout == 'blog' %}
			<title>Blog | Raphael Fabeni</title>
		{% else %}
			<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		{% endif %}

		<link rel="stylesheet" href="/assets/css/styles.css">

		{% include alternate.html %}

		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,200;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />

		<!-- Facebook -->
		<meta property="fb:app_id" content="588516207935765" />
		<meta property="fb:admins" content="100000808831074" />
		<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
		<meta property="og:title" content="{{ page.title }}
			{% if page.path contains '_posts' or page.type == 'blog' or page.type == 'category'  %} - Blog | Raphael Fabeni{% endif %}"
		/>
		<meta property="og:site_name" content="Raphael Fabeni" />
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
		<meta property="og:type" content="{% if page.path contains '_posts' %}article{% else %}website{% endif %}" />
		{% if page.type == 'Post' or page.imageExternal == true %}
		<meta property="og:image" content="{{ page.image }}" />
		<meta property="twittter:image" content="{{ page.image }}" />
		{% else %}
		<meta property="og:image" content="{{ site.url }}/build/img/{% if page.image %}posts/{{ page.image }}{% else %}raphael-fabeni.jpg{% endif %}" />
		<meta property="twitter:image" content="{{ site.url }}/build/img/{% if page.image %}posts/{{ page.image }}{% else %}raphael-fabeni.jpg{% endif %}" />
		{% endif %}
		{% if page.path contains '_posts' %}
		<meta property="article:author" content="https://www.facebook.com/raphaelfabeni" />
		<meta property="article:publisher" content="https://www.facebook.com/raphaelfabeni" />
		{% endif %}

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:creator" content="@raphaelfabeni">
		<meta name="twitter:site" content="@raphaelfabeni">
		<meta name="twitter:domain" content="{{ site.url }}">
		<meta name="twitter:title" content="{{ page.title }}{% if page.path contains '_posts' or page.type == 'blog' or page.type == 'category'  %} - Blog | Raphael Fabeni{% endif %}">
		<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

		<link rel="canonical" href="{{ site.url }}{{ page.url }}">
		<link href='https://raphaelfabeni.com.br/feed.xml' rel='alternate' type='application/atom+xml'>

		<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/assets/images/favicon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">

	<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5D8KMF2647"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5D8KMF2647');
</script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	<script>
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					});
				}
			});
		}
	</script>
</head>
