<ul class="category-header__list">
	<li>
		<a class="{% if page.layout == 'blog' %}active-category{% endif %}" href="{{ site.blog[page.lang] }}">
			{{ site.dictionary[page.lang].all_categories }}
		</a>
	</li>
	{% for item in site.categories_list[page.lang] %}
	<li>
		{% assign down = item[1].title | downcase | replace: 'ê', 'e' | replace: ' ', '-' %}
		<a class="{% if down == page.category %}is-active{% endif %}" href="{{ item[1].permalink }}">{{ item[1].title }}</a>
	</li>
	{% endfor %}
</ul>
