<div class="share">
    <div class="share-item share-facebook">
        <div id="fb-root"></div>
        <div class="fb-like" data-send="false" data-layout="button" data-width="70" data-show-faces="false"></div>
    </div>
    <div class="share-item share-twitter">
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none">Tweet</a>
    </div>
    <div class="share-item share-google">
        <div class="g-plusone" data-size="medium" data-count="false"></div>
    </div>
</div>