<div class="post-video" >
  <video
    preload="auto"
    poster="{{ include.poster }}"
    controls="controls"
    src="{{ include.src }}"
    {% if include.width != "" %}width="{{ include.width }}"{% endif %}
    {% if include.height != "" %}height="{{ include.height }}"{% endif %}
  >
    Putz, acho que seu navegador não suporta o vídeo! Foi mal! :(
  </video>
</div>

<!-- <div class="post-video">
  <video preload="auto" poster="http://placehold.it/500x500" controls="controls" src="https://user-images.githubusercontent.com/1345662/128648418-348695e5-023c-4a4e-8896-35e54d41ffe7.mp4">
    Putz, acho que seu navegador não suporta o vídeo! Foi mal! :(
  </video>
</div> -->
