.home .header {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.15);

  &__title {
    color: $color-blue;
    font-size: 32px;
    text-decoration: none;
    transition: color .3s ease;
    font-weight: 700;

    &:hover,
    &:focus {
      color: $color-orange;
    }
  }

  .navigation {
    margin: 0 auto;
    display: flex;
    overflow: scroll;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #999;
      display: inline-flex;
      padding: 12px;
      transition: color .3s ease;
      font-size: 14px;
      align-items: center;

      > span {
        margin-right: 8px;
      }

      &:hover,
      &:focus {
        color: $color-orange;
      }
    }
  }
}