$color-orange: #f39c12;
$color-blue: #4183d7;
$color-green: #2ecc71;
$color-gray: #666;

/*----------  Fonts  ----------*/
$font-family--default: Helvetica, Arial, sans-serif;
$font-family--loaded: 'Raleway', Helvetica, Arial, sans-serif;
$font-weight--light: 300;
$font-weight--semibold: 400;