---
layout: blog
type: blog
title: Blog | Raphael Fabeni
description: 'Algumas idéias malucas sobre desenvolvimento web, vida saudável, etc...'
language: pt-br
---

{% assign portuguesePosts = site.posts | where: 'lang', 'pt-br' %}

<header class="category-header">
	<h1 class="category-header__title">Blog pt-br</h1>
	<!-- {% include loop-category.html %} -->
</header>
{% for post in portuguesePosts %}
	<article class="post" data-post="en">
		<h2 class="post__title">
			<a class="post__link" href="{{ post.url }}">{{ post.title }}</a> | <span class="post__category">{{ post.category }}</span>
		</h2>
	</article>
{% endfor %}
