---
layout: simple
title: Gear | Raphael Fabeni
description: 'Um pouco do meu setup pros esportes!'
lang: pt-br
---
<h1 class="post-title">Gear</h1>

{% for sport in site.data.gear %}
		<section class="gear">
			<h2 class="gear__title"><span>{{ sport.icon }}</span>{{ sport.title }}</h2>
			<ul class="gear__list">
			{% for sportItem in sport.items %}
				<li class="gear__list-item">
					<h3 class="gear__list-title">{{ sportItem.name }}</h3>
					<img src="{{ sportItem.image.small }}" srcset="{{ sportItem.image.big }} 2x" alt="{{ sportItem.name }}">
				</li>
			{% endfor %}
		</ul>
		</section>
	{% endfor %}
