---
layout: blog
title: Blog | Raphael Fabeni
description: 'My simple thoughts about the life and web development'
language: en
links:
  left:
    text: Blog
    link: '/blog'
---

{% assign englishPosts = site.posts | where: 'lang', 'en' %}
{% assign portuguesePosts = site.posts | where: 'lang', 'pt-br' %}

{% for post in englishPosts %}
	<div class="post">
		<h2 class="post__title">
			<a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
		</h2>
		<figure class="post__thumb">
			<img src="{{ post.image }}" alt="{{ post.alt }}">
		</figure>
	{% if post.url_br %}
		{% for item in portuguesePosts %}
			{% if item.url_br == post.url_br %}
				<!-- <br> <span style="color: red">tem {{ item.title }}</span> -->
			{% endif %}
		{% endfor %}

	{% endif %}
	</div>
{% endfor %}











<!-- {% if post.lang == undefined or post.lang == "pt-br" %} -->
      <!-- <article class="post">
        <figure class="image">
          <img src="{{ post.image }}">
        </figure>
        <h1 class="title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <p class="date text-center">{{ post.date | date: "%d/%m/%Y" }}</p>
        <p class="short text-center">{{ post.description }}</p>
        <a href="{{ post.url }}" class="btn"><i class="fa fa-angle-double-right"></i> Ver post</a>
      </article> -->
    <!-- {% endif %} -->
<!-- <section class="rss">
	<p class="text-center"><i class="fa fa-rss"></i> Curtiu? <a href="/feed.xml">Assine o RSS! </a></p>
</section> -->
