---
layout: blog
type: blog
title: Blog | Raphael Fabeni
description: 'Some crazy thougths about web development, life and etc...'
language: en
links:
  left:
    text: Home
    link: '/'
  right:
    text: Closet
    link: '/my-closet'
---

{% assign englishPosts = site.posts | where: 'lang', 'en' %}

<header class="category-header">
	<h1 class="category-header__title">Blog</h1>
	{% include loop-category.html %}
</header>
{% for post in englishPosts %}
	<article class="post" data-post="en">
		<figure class="post__thumb">
			<a href="{{ post.url }}">
				<img src="{{ post.image }}" alt="{{ post.alt }}">
			</a>
		</figure>
		<h2 class="post__title">
			<a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
		</h2>
	</article>
{% endfor %}