---
layout: blog
type: blog
title: Blog | Raphael Fabeni
description: 'Some crazy thougths about web development, life and etc...'
language: en
---

{% assign englishPosts = site.posts | where: 'lang', 'en' %}

<header class="category-header">
	<h1 class="category-header__title">Blog</h1>
	<!-- {% include loop-category.html %} -->
</header>
{% for post in englishPosts %}
	<article class="post" data-post="en">
		<h2 class="post__title">
			<a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
		</h2>
		<span class="post__category">{{ post.category }}</span>
	</article>
{% endfor %}