figure.none img {
   border: none;
   box-shadow: none;
   background-color: transparent;
}

.pull-left { float: left; }
.pull-right { float: right; }

figure.inline { display: inline; }

.reveal .image-big {
   overflow-y: scroll;
   max-height: 700px;
}

.reveal .image-big img { max-height: none; }


.reveal .block { max-height: none!important; }

.reveal code.big { max-height: 600px; }