---
layout: simple
title: Família Fabeni vende tudo!
description: 'Família Fabeni vende tudo!'
lang: pt-br
image: https://user-images.githubusercontent.com/1345662/120698372-f75d2e80-c47c-11eb-8038-393950bffc8d.png
imageExternal: true
---

<style>
  .venda {
    border-bottom: solid 1px #ccc;
    padding: 30px 0;
  }

  @media only screen and (min-width: 600px) {
    .venda .thumb {
      display: flex;
    }
  }

  .venda--sold .thumb {
    position: relative;
  }

  .venda--sold .thumb:after {
    content: 'Vendido!';
    background-color: #4183d7;
    color: #fff;
    font-size: 32px;
    left: 0;
    top: 50%;
    max-width: 500px;
    width: 100%;
    left: 0;
    padding: 20px;
    text-align: center;
    position: absolute;
    font-weight: bold;
  }

  .venda--sold figure {
    opacity: .35;
  }

  .venda figure {
    max-width: 600px;
    margin: 10px;
  }

  .venda a {
    background: #4183d7;
    color: #fff;
    padding: 15px 25px;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    transition: background .3s ease;
  }

  .venda a:hover,
  .venda a:focus {
    background: darkblue;
  }

  .extra {
    font-weight: bold;
    padding-left: 15px;
  }

  .extra span {
    background-color: lightgreen;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 24px;
  }
</style>
<h1 class="post-title">Vendinha aberta</h1>

Mais infos, por whatsapp! <a href="https://api.whatsapp.com/send?phone=55991741629&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20produtos%20que%20est%C3%A3o%20%C3%A0%20venda!">Patricia</a> ou <a href="https://api.whatsapp.com/send?phone=5511991979195&text=Ol%C3%A1!%20Gostaria%20de%20mais%20informa%C3%A7%C3%B5es%20sobre%20os%20produtos%20que%20est%C3%A3o%20%C3%A0%20venda!">Fabiana</a>
{% for item in site.data.venda.items %}
	<section class="venda {% if item.sold %}venda--sold{% endif %}">
    <div class="thumb">
      {% for itemImg in item.src %}
      <figure>
        <img src="/dist/images/{{itemImg}}" alt="{{ item.title }}">
      </figure>
      {% endfor %}
    </div>
    {% if item.sold %}
    {% else %}
    <div>
      {% if item.extra %}
        <div class="extra">Novo preço: <span>{{ item.extra }}</span></div>
      {% endif %}
      <a href="https://api.whatsapp.com/send?phone=55991741629&text=Ol%C3%A1!%20Tenho%20interesse%20no%20{{ item.title }}">Eu quero!</a>
    </div>
    {% endif %}
  </section>
{% endfor %}
