.highlight .p, .highlight .pi
	color: #f8f8f2

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs
	color: #75715e

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv
	color: #ae81ff

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1
	color: #a6e22e

.highlight, .highlight .w
	color: #f8f8f2
	background-color: #272822

.highlight .o, .highlight .ow
	color: #f8f8f2

.highlight
	.si
		color: #cc6633
	.kc
		color: #fd971f
	.gh
		color: #66d9ef
		background-color: #272822
		font-weight: bold
	.gi
		color: #a6e22e
	.nt
		color: #f4bf75
	.cp
		color: #f4bf75
	.gd
		color: #f92672
	table
		td
			padding: 5px
		pre
			margin: 0
	.se
		color: #cc6633
	.nc
		color: #f4bf75
	.err
		color: #272822
		background-color: #f92672
	.na
		color: #66d9ef
	.kt
		color: #fd971f
	.kd
		color: #fd971f
	.sr
		color: #a1efe4
	.ss
		color: #a6e22e
	.no
		color: #f4bf75
	.nn
		color: #f4bf75

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx
	color: #a6e22e

