---
type: blog
layout: compress
---

<!doctype html>
  {% if page.lang == "pt-br" %}
    <html lang="pt-br">
  {% else %}
    <html lang="en">
  {% endif %}

  {% include head.html %}

  <body class="page-container {% if page.type %}{{page.type | downcase}}{% endif %}">

    {% include header.html %}

    <main role="main" class="blog-container">
      {% if page.type == 'blog' %}
        <header class="blog-container__header">
          <h1 class="blog-container__header-title">
            {% if page.lang == 'en' %}
            Articles. Stories. And more.
            {% else %}
            Artigos. Histórias. E mais.
            {% endif %}
          </h1>
          <p class="blog-container__header-desc">{{ page.description }}</p>
          <!-- {% include loop-category.html %} -->
        </header>
        <section class="blog-container__list">
          {% for post in site.posts %}
            {% if post.lang == page.lang %}
              {% include block-post.html %}
              {% endif %}
          {% endfor %}
        </section>
      {% else %}
        {{ content }}
      {% endif %}
    </main>

  {% include scripts.html %}
</body>
</html>
