---
layout: blog
language: en
---

{% assign englishPosts = site.posts | where: 'lang', 'en' | where: 'category', page.category %}
<!-- {% assign portuguesePosts = site.posts | where: 'lang', 'pt-br' | where: 'category', page.category %} -->

<header class="category-header">
	<h1 class="category-header__title">{{ page.category }} posts</h1>
	{% include loop-category.html %}
</header>

{% if englishPosts.size > 0 %}
	{% for post in englishPosts %}
		<article class="post" data-post="en">
			<h2 class="post__title">
				<a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
			</h2>
			<span class="post__category">{{ post.category }}</span>
		</article>
	{% endfor %}
{% else %}
	<div data-post="en">
		<h2><small>Ops... no post found!</small></h2>
	</div>
{% endif %}

<!-- {% if portuguesePosts.size > 0 %}
	{% for post in portuguesePosts %}
		<article class="post" data-post="en">
			<h2 class="post__title">
				<a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
			</h2>
			<span class="post__category">{{ post.category }}</span>
		</article>
	{% endfor %}
{% else %}
	<div data-post="pt-br" hidden>
		<h2><small>Ops... nenhum post encontrado!</small></h2>
	</div>
{% endif %} -->
