---
layout: blog
type: archive
---
<header class="category-header">
	<figure class="category-header__icon">
		<svg class="svg-icon" viewBox="0 0 20 20"><path fill="none" d="M18.208 2.958H8.875V1.792c0-.644-.522-1.167-1.167-1.167H1.875c-.644 0-1.167.522-1.167 1.167v16.333c0 .645.522 1.166 1.167 1.166h16.333c.645 0 1.167-.521 1.167-1.166v-14c0-.645-.522-1.167-1.167-1.167zm0 14.584a.583.583 0 01-.583.583H2.458a.582.582 0 01-.583-.583V6.458h16.333v11.084zm-.583-12.25H1.875V2.375c0-.323.261-.583.583-.583h4.667c.323 0 .583.261.583.583v1.75h9.917a.583.583 0 110 1.167z"/></svg>
	</figure>
	<h1 class="category-header__title">{{ page.title }} posts</h1>
	{% include loop-category.html %}
</header>

<sextion class="container container--full container--flex posts-container">
{% assign hasPost = site.posts | where: 'lang', page.lang | where: 'category', page.category %}
{% if hasPost.size > 0 %}
	{% for post in site.categories[page.category] %}
	{% if post.lang == page.lang %}
		{% include block-post.html %}
	{% endif %}  
	{% endfor %}
{% else %}
	{% if page.lang == 'en' %}
		<h2><small>Ops... no posts found!</small></h2>
	{% else %}
		<h2><small>Ops... nenhum post encontrado!</small></h2>
	{% endif %}
{% endif %}
</sextion>
