<!doctype html>
  {% if page.lang == "pt-br" %}
    <html lang="pt-br">
  {% else %}
    <html lang="en">
  {% endif %}

  {% include head.html %}

	<style>
		{% include css/critical.css %}
	</style>

<body class="has-cover is-center home" data-hold>

	<div data-cover class="cover"></div>

  {% include header.html %}

  <main role="main" id="content" class="container container--full container--flex">
    {{ content }}
  </main>

  {% if page.links %}
  	{% if page.links.left %}
  		<a href={{ page.links.left.link }} class="arrow arrow--left" data-text="{{ page.links.left.text }}"></a>
  	{% endif %}
  	{% if page.links.right %}
  		<a href={{ page.links.right.link }} class="arrow arrow--right" data-text="{{ page.links.right.text }}"></a>
  	{% endif %}
  {% endif %}

  {% include scripts.html %}
</body>
</html>
