<!doctype html>
<!--[if IE 7]>    <html class="no-js ie7" lang="en">     <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en">     <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en">     <![endif]-->
<html lang="{{ page.language }}">

{% include head.html %}

<body id="hold" class="{% if page.class %}{{ page.class }}{% endif %} default">

    {% include header.html %}
    
    {% if page.type != 'Home' %}
    {% include breadcrumbs.html %}
    {% endif %}
    <main role="main" class="main {% if page.path contains '_posts' %}main-posts{% endif %} container">
        {{ content }}
    </main>

    {% if page.path contains '_posts' %}
    {% include disqus.html %}
    {% endif %}

    <script src="{{ site.baseurl }}build/js/scripts.min.js"></script>

</body>
</html>