<!doctype html>
  {% if page.lang == "pt-br" %}
    <html lang="pt-br">
  {% else %}
    <html lang="en">
  {% endif %}

  {% include head.html %}
<body class="has-cover is-center" data-hold>

	<div data-wrap-gradient class="gradient">
		<div data-gradient class="gradient__item gradient__item--blue"></div>
	</div>

	<div data-cover class="cover"></div>

	<button data-button-colors>Colors</button>
	<button data-button-dark>Light</button>
	<button data-button-light>Dark</button>

  {% include header.html %}

  <main role="main" id="content" class="container container--full container--flex">
    {{ content }}
  </main>

  {% if page.links %}
  	{% if page.links.left %}
  		<a href={{ page.links.left.link }} class="arrow arrow--left" data-text="{{ page.links.left.text }}"></a>
  	{% endif %}
  	{% if page.links.right %}
  		<a href={{ page.links.right.link }} class="arrow arrow--right" data-text="{{ page.links.right.text }}"></a>
  	{% endif %}
  {% endif %}

  <script src="dist/scripts/home.min.js"></script>
</body>
</html>
