---
type: post
layout: compress
---
<!doctype html>
  {% if page.lang == "pt-br" %}
    <html lang="pt-br">
  {% else %}
    <html lang="en">
  {% endif %}

  {% include head.html %}
  <body class="{% if page.type %}{{page.type | downcase}}{% endif %}">

    {% include header.html %}

    <div class="post-header">
      <h1 class="post-header__title" data-post-title>{{ page.title }}</h1>
      <div class="post-header__image" style="background-image: url({{page.image}});"></div>
    </div>

    <article role="main" class="post-content">
      <div class="post-content__container">
        {{ content }}
      </div>
      <a href="{{ site.blog[page.lang] }}" class="post-content__more">{{ site.dictionary[page.lang].more_posts }}</a>
    </article>
  </body>
</html>
