---
type: post
layout: compress
---

<!doctype html>
  {% if page.lang == "pt-br" %}
    <html lang="pt-br">
  {% else %}
    <html lang="en">
  {% endif %}

  {% include head.html %}
<body data-hold class="post-page">

  {% include header.html %}

  <div class="header-post">
  	<img class="header-post__image" src="{{ page.image }}" alt="{{ page.alt }}">
  	<button class="header-post__arrow" data-post-arrow></button>
	</div>

	<div class="full">
		<div class="container container--small">
      <h1 class="post-title" data-post-title>{{ page.title }}</h1>
      {% if page.lang == "en" and alternatePosts.size == 1 %}
      <section class="post-box-info">
        Quer esse conteúdo em pt-br? <a href="https://github.com/raphaelfabeni/raphaelfabeni.github.io/issues/new?assignees=&labels=tradu%C3%A7%C3%A3o&template=traducao.md&title=Tradu%C3%A7%C3%A3o+de+um+post&body=Gostaria+de+pedir+a+tradução+do+post+_[{{ page.title }}]({{ site.url }}{{ page.url }})_+">Clique aqui</a>.
      </section>
      {% endif %}
	  	<article role="main" class="post-content">
	    	{{ content }}
	  	</article>
  		<a href="/blog" class="button button--default button--big button--center">See all posts...</a>
  	</div>
  </div>

  <a href="/blog" class="arrow arrow--left is-hidden" data-text="Blog" data-back-link></a>

  <a rel="author" class="sr-only" href="https://plus.google.com/u/0/+RaphaelFabeni">Raphael Fabeni</a>

  {% include scripts.html %}
</body>
</html>
