---
layout: blog
title: Blog | Raphael Fabeni
description: 'Algumas idéias malucas sobre desenvolvimento web, vida saudável, etc...'
language: pt-br
links:
  left:
    text: Home
    link: '/'
  right:
    text: Closet
    link: '/my-closet'
---

{% assign portuguesePosts = site.posts | where: 'lang', 'pt-br' %}

<header class="category-header">
	<h1 class="category-header__title">Blog pt-br</h1>
	<!-- <ul class="category-header__list">
		<li><a class="active-category" href="/blog">all</a></li>
		{% for category in site.categories %}
		<li><a href='/category/{{ category[0] }}'>{{ category[0] | split: "-" | join: " " }}</a></li>
		{% endfor %}
	</ul> -->
</header>
{% for post in portuguesePosts %}
	<article class="post" data-post="pt-br">
		<figure class="post__thumb">
			<img src="{{ post.image }}" alt="{{ post.alt }}">
		</figure>
		<h2 class="post__title">
			<a class="post__link" href="{{ post.url }}">{{ post.title }}</a>
		</h2>
	</article>
{% endfor %}
